/*
Copyright © 2016 Aaron Smith & Xenia Zantello
*/
/* 
    Created on : Sep 27, 2016, 8:01:00 PM
    Author     : Aaron
*/
@media screen and (max-width: 500px) {
    *{
        font-family: Arial,Verdana,sans-serif
    }
    /* Header */
    #header{
        /*line-height: 15px;
        /*margin: 10px;*/
    }
    h1{
        width: 100%;
        text-align: center;
        
        
    }
    #header p {
    display: none;
    }
    
    .contactinfo{
      width: 100%;
      display: inline;
      /* inline removes discs, no display shows bullets but doesn't lay horizontally'*/

      
        
    }
    ul li:nth-child(even){
    list-style-type: disc !important;
       
    }

    /* Education */
    #education{
        line-height: .063em;
        margin: 1.25em;
    }
    #education h3 {
        font-weight: bold;
        text-decoration: underline;
    }
    #education span {
        font-weight: bold;
    }
    #education #degree {
        font-style: italic;
    }
    /* Qualifications */
    #qualifications {
        line-height: .063em;
        margin: 1.25em;
    }
    #qualifications h3 {
        font-weight: bold;
        text-decoration: underline;
    }
    #qualifications p {
        font-weight: bold;
    }
    #qualifications li{
        list-style-type: disc;
        display: list-item;
        line-height: 1.125em;
        margin-top: -.5em;
    }
    #qualifications span {
        color: red;
    }
    /* Interships */
    #internships {
        line-height: .063em;
        margin: 1.25em;
    }
    #internships h3{
        font-weight: bold;
        text-decoration: underline;
    }
    #internships span{
        font-weight: bold;
    }
    #internships .tech {
        font-weight: bold;
        font-style: italic;
    }
    #internships p{
        color: red;
    }
    #internships li {
        color: red;
        list-style-type: disc;
        display: list-item;
        line-height: 1.125em;
    }
        /* Work Experience */
    
    #work{
        line-height: .063em;
        margin: 1.25em;
    }
    #work h3 {
        font-weight: bold;
        text-decoration: underline;
    }
    #work li{
        list-style-type: disc;
        display: list-item;
        line-height: 1.4em;
        margin-top: -.5em;
    }
    #work span{
        font-weight: bold;
    }
    #work .tech {
        font-weight: bold;
        font-style: italic;
    }
        #oncampus{
        line-height: .063em;
        margin: 1.25em;
    }
    #oncampus h3 {
        font-weight: bold;
        text-decoration: underline;
        line-height: 1.25em;
    }
    #oncampus p{
        color: red;
    }
    #oncampus li{
        color: red;
        list-style-type: disc;
        display: list-item;
        line-height: 1.5em;
        margin-top: -.5em;
    }
    #oncampus span{
        font-weight: bold;
    }
    #oncampus .tech {
        font-weight: bold;
        font-style: italic;
    }
}


@media screen and (min-width: 501px) {
        *{
        font-family: Arial,Verdana,sans-serif;
    }
    /* Header */
    h1{
        width: 100%;
        text-align: center;
             
    }
    #header p {
        width: 100%;
        text-align: center;
        font-weight: normal;
    }

    .contactinfo{
        width: 100%;
        display: none;
        margin: auto;
    }
    
    /* Education */
    #education{
        line-height: .063em;
        margin: 1.25em;
    }
    #education h3 {
        font-weight: bold;
        text-decoration: underline;
    }
    #education span {
        font-weight: bold;
    }
    #education #degree {
        font-style: italic;
    }
    .date{
        float: right;
        
    }
    /* Qualifications */
    #qualifications {
        line-height: .063em;
        margin: 1.25em;
    }
    #qualifications h3 {
        font-weight: bold;
        text-decoration: underline;
    }
    #qualifications p {
        font-weight: bold;
    }
    #qualifications li{
        list-style-type: disc;
        display: list-item;
        line-height: 1.125em;
        margin-top: -.5em;
    }
    #qualifications span {
        color: red;
    }
    /* Interships */
    #internships {
        line-height: .063em;
        margin: 1.25em;
    }
    #internships h3{
        font-weight: bold;
        text-decoration: underline;
    }
    #internships span{
        font-weight: bold;
    }
    #internships .tech {
        font-weight: bold;
        font-style: italic;
    }
    #internships p{
        color: red;
    }
    #internships li {
        color: red;
        list-style-type: disc;
        display: list-item;
        line-height: 1.125em;
    }
    /* Work Experience */
    
    #work{
        line-height: .063em;
        margin: 1.25em;
    }
    #work h3 {
        font-weight: bold;
        text-decoration: underline;
    }
    #work li{
        list-style-type: disc;
        display: list-item;
        line-height: 1.5em;
        margin-top: -.5em;
    }
    #work span{
        font-weight: bold;
    }
    #work .tech {
        font-weight: bold;
        font-style: italic;
    }
    
    /* Campus */
    #oncampus{
        line-height: .063em;
        margin: 1.25em;
    }
    #oncampus h3 {
        font-weight: bold;
        text-decoration: underline;
    }
    #oncampus p{
        color: red;
    }
    #oncampus li{
        color: red;
        list-style-type: disc;
        display: list-item;
        line-height: 1.5em;
        margin-top: -.5em;
    }
    #oncampus span{
        font-weight: bold;
    }
    #oncampus .tech {
        font-weight: bold;
        font-style: italic;
    }
}

